{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<h1>ADMIN</h1>


<a href="{{ path('app_admin_chambre') }}" class="col-md-6 offset-md-3 my-3 btn btn-dark">GESTION DES CHAMBRES</a>














{% endblock %}
